html, body {
    margin: 0;
    background: #f6f6f6;
}

#main-container {
    margin-top: 100px;
}

input {
    max-width: 300px;
}

img {
    max-width: 100%;
}

#preview-form {
    margin-top: calc(50vh - 400px);
}
