{% extends "base.html" %}
{% block title %}{% endblock %}

{% block head %}
  {{ super() }}
  <!-- <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css"> -->
{% endblock %}
{% block scripts %}
  <script src="/static/index.js"></script>
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="container" id="main-container">

    <h1 class="mb-5">2022 牛津中国论坛的一些好玩东西</h1>

    <a class="btn btn-outline-danger" href="/avatar">生成 OCF 2022 专属头像</a>
    <a class="btn btn-outline-danger" href="/ticket">预约参加 OCF 2022</a>

  </div>
{% endblock %}
