{% extends "base.html" %}
{% block title %}{% endblock %}

{% block head %}
  {{ super() }}
  <!-- <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css"> -->
{% endblock %}
{% block scripts %}
  <script src="/static/index.js"></script>
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="d-flex flex-row container-fluid p-0" id="page-container">

    <div class="d-flex flex-column flex-shrink-0 p-3" id="">

    </div>

  </div>
{% endblock %}
