{% extends "base.html" %}
{% block title %}{% endblock %}

{% block head %}
  {{ super() }}
  <!-- <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css"> -->
{% endblock %}
{% block scripts %}
  <script src="/static/index.js"></script>
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="container text-center" id="main-container">

    <div id="hero-container" class="row justify-content-center">
      <img src="/static/images/hero.png" class="">
    </div>
    
    <div class="row">
      <h1>2022 牛津中国论坛 • <span class="primary-color">跨界无界</span></h1>
      <h2 class="mb-5">Transcending Boundaries</h2>
    </div>

    <div class="row text-center">
      <p>
        <a class="btn btn-outline-primary" href="/avatar">生成 OCF 2022 专属头像</a>
      </p>
      <p>
        <a class="btn btn-outline-primary" href="/ticket">生成 OCF 2022 预约票</a>
      </p>
    </div>

    <div class="row text-center justify-content-center mt-5">
      <img src="/static/images/wechat-qr.jpg" class="qr-code mb-2">
      <p class="text-secondary">扫码关注牛津中国论坛，获取论坛参与方式</p>
    </div>

  </div>
{% endblock %}
