{% extends "base.html" %}
{% block title %}{% endblock %}

{% block head %}
  {{ super() }}
  <!-- <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css"> -->
{% endblock %}
{% block scripts %}
  <script src="/static/scripts/ticket.js"></script>
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="container" id="main-container">
    
    <div class="row text-center content-div">
      <a class="text-secondary text-decoration-none" href="/">&lang; 返回</a>
      <h1 class="">生成 OCF 2022 预约票</h1>
    </div>

    <div class="row justify-content-center" id="body-container">
      <div class="col-1 col-lg-4"></div>
      <div class="col-10 col-lg-4">
        <form id="ticket-form">
          <div class="mb-4">
            <label for="nameInput" class="form-label">您的姓名</label>
            <input type="text" class="form-control" id="nameInput" name="name">
          </div>
          <button type="submit" class="btn btn-outline-primary">生成</button>
          <p id="status-info"></p>
        </form>
      </div>
      <div class="col-1 col-lg-4"></div>
    </div>

  </div>
{% endblock %}
